.page-header {
  text-align: center;
  margin-top: 40px;
}

.page-title {
  font-size: 32px;
  font-weight: bold;
  color: #111;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.decorative-underline {
  width: 100px;
  height: 6px;
  background: linear-gradient(to right, #480dad, #cb2828);

  margin: 0 auto 20px auto;
}

.simple-black-underline {
  width: 90%;
  height: 1px;
  background-color: black;
  margin: 0 auto 30px auto;
}

